<div id="splash-page">
    <header id="author-banner">
        <img id="author-photo" src="{{ "/img/personalphoto.jpg" }}" />
        <h1 id="author-name">{{ .Site.Params.author }}</h1>
        <h2 id="author-intro">{{ .Site.Params.intro }}</h2>
        <h3 id="author-description">{{ .Site.Params.description | markdownify }}</h2>
    </header>

    <section id="author-social">
    {{ with .Site.Params.social.github }}
    <a title="{{ $.Site.Params.author }}'s GitHub" rel="noopener" href="{{ . }}" target="_blank"><span class="fab fa-github"></span></a>
    {{ end }}
    {{ with .Site.Params.social.linkedin }}
    <a title="{{ $.Site.Params.author }}'s LinkedIn" rel="noopener" href="{{ . }}/" target="_blank"><span class="fab fa-linkedin"></span></a>
    {{ end }}
    {{ with .Site.Params.social.email }}
    <a title="E-mail {{ $.Site.Params.author }}" rel="noopener" href="mailto:{{ . }}" target="_blank"><span class="fas fa-envelope"></span></a>
    {{ end }}
    {{ with .Site.Params.social.blog }}
    <a title="{{ $.Site.Params.author }}'s Blog" href="/blog.html"><span class="fas fa-book"></span></a>
    {{ end }}
    </section>

    {{ with .Site.GetPage "about/index.md" }}
    <section id="author-about">
        {{ .Content }}
    </section>
    {{ end }}
</div>
