{{ partial "header.html" . }}

<div id="resume">
    {{ partial "resume/section/unlabeled.html" (dict "ctx" . "section" "header") }}
    {{ partial "resume/section/labeled.html" (dict "ctx" . "section" "summary") }}
    {{ partial "resume/section/labeled.html" (dict "ctx" . "section" "skills") }}
    {{ partial "resume/section/experience.html" (dict "ctx" . "section" "experience") }}
    {{ partial "resume/section/labeled.html" (dict "ctx" . "section" "publications") }}
    {{ partial "resume/section/education.html" (dict "ctx" . "section" "education") }}
</div>

<div class="noprint" style="text-align: center;"><a href="/">&lt; Go Back</a></div>

{{ partial "footer.html" . }}
